*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    width: 90%;
    height: max-content;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 2px 10px black;
    overflow-x: auto;
    border-radius: 10px;

    &::-webkit-scrollbar{
        display: none;
    }

    & button{
        background-color: white;
        padding: 2px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 2px 6px black;

        &:active{
            background-color: black;
            color: white;
            box-shadow: none;
        }
    }
}

main{
    width: 96%;
    height: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    
  

    & .output{
        width: 90%;
        height: 90%;
        box-shadow: 0 0 10px rgb(163, 106, 106);
        border-radius: 5px;
        padding: 5px;
        overflow-y: auto;
        overflow-x: hidden;
      


        &::-webkit-scrollbar{
            display: flex;
        }
    }
    & pre{
        background-color: rgb(75, 75, 75);
        color: white;
        padding: 5px;
        border-radius: 10px;

    }
    & .indexH{
      text-align: center;
      margin-top: 100px;
    }
}
h4{
    color: rgb(51, 181, 225);
}
b{
    color: rgb(3, 119, 208);
}
h1,h3{
    color: black;
}

@media screen  and (min-width: 600px) and (max-width: 218px){
    pre{
        /* font-size: 11px; */
        width: 20%;
        height: 30%;
    }
}

